@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 80px;
}

.swiper-pagination {
  position: relative;
  margin-top: 5rem;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #000000;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 9999px;
  margin: 0 6px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
  transform: scale(1.2);
}
